/**
 * Medical Academic Enhancements Collection Block - Editor Styles
 *
 * @package medical_academic_enhancements
 */

.wp-block-medical_academic_enhancements-medical-academic-enhancements-collection {
	.components-spinner {
		display: block;
		margin: 2rem auto;
	}
}
